<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /manage/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /manage/index.html [L]
</IfModule>